@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Miyapur<br />
    Hyderbad<br />
    <abbr title="Phone">P:</abbr>
    7411677610
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:anjan@support.com">anjan@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">anjan@example.com</a>
</address>
